---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <img src="./public/IHC.jpeg" alt="IHC" width="100%" class="rounded-bottom" />
    <h1 class="text-center">INTERACCIÓN HUMANO-COMPUTADORA</h1>
    <h2>¿Qué es la Interacción Humano-Computadora?</h2>
    <p>
      La Interacción Humano-Computadora es un campo multidisciplinario que se
      enfoca en el diseño, evaluación y optimización de sistemas informáticos
      para que sean intuitivos, eficientes y satisfactorios para los usuarios.
      Comprender la dinámica entre humanos y máquinas es esencial para crear
      tecnología que realmente mejore nuestras vidas.
    </p>
    <h2>Importancia de la IHC</h2>
    <p>
      En un mundo cada vez más digital, la forma en que interactuamos con la
      tecnología juega un papel fundamental en nuestra productividad y
      bienestar. La IHC busca crear interfaces intuitivas y eficientes,
      permitiendo a las personas aprovechar al máximo la potencia de la
      tecnología de manera natural y sin complicaciones.
    </p>
    <h2>Áreas de enfoque</h2>
    <div id="enfoque">
      <ol>
        <li>
          <i><strong>Diseño Centrado en el Usuario:</strong></i> Colocar las
          necesidades y expectativas del usuario en el centro del proceso de
          diseño para crear experiencias digitales altamente satisfactorias.
        </li>
        <li>
          <i><strong>Usabilidad y Experiencia de Usuario (UX):</strong></i>
           Evaluación y optimización de la eficacia y la satisfacción de los
          usuarios al interactuar con sistemas y aplicaciones.
        </li>
        <li>
          <i><strong>Accesibilidad:</strong></i> Garantizar que la tecnología
          sea accesible para todos, independientemente de sus capacidades o
          limitaciones.
        </li>
        <li>
          <i><strong>Tecnologías Emergentes:</strong></i> Explorar y aprovechar
          innovaciones como la realidad aumentada, la inteligencia artificial y
          la realidad virtual para crear experiencias de usuario de vanguardia.
        </li>
      </ol>
      <img src="./public/Focus.jpeg" alt="Focus" width="100%" class="rounded" />
    </div>
    <h2>Temas destacados</h2>
    <div id="destacado">
      <ol>
        <li>
          <i><strong>Principios de Diseño Centrados en el Usuario:</strong></i>
           Descubre cómo colocar al usuario en el centro del proceso de diseño
          para crear experiencias digitales impactantes.
        </li>
        <li>
          <i
            ><strong>Evaluación de Usabilidad y Experiencia de Usuario:</strong
            ></i
          > Aprende sobre las técnicas y herramientas para medir la eficacia y
          la satisfacción de los usuarios.
        </li>
        <li>
          <i><strong>Interfaces de Usuario Innovadoras:</strong></i> Explora las
          últimas tendencias en diseño de interfaces que están transformando la
          forma en que interactuamos con la tecnología.
        </li>
      </ol>
    </div>
    <h2>Dispositivos nóveles</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Dispositivo</th>
          <th>Descripción</th>
          <th>Año de Lanzamiento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://www.microsoft.com/en-us/research/project/illumiroom-peripheral-projected-illusions-for-interactive-experiences/">IllumiRoom</a></td>
          <td
            >Desarrollado por Microsoft Research, IllumiRoom proyecta imágenes y
            efectos visuales en el entorno físico del usuario para una
            experiencia inmersiva.</td
          >
          <td>2013</td>
        </tr>
        <tr>
          <td><a href="https://lens.google/intl/es-419/">Google Lens</a></td>
          <td
            >Google Lens utiliza la cámara del dispositivo móvil para
            proporcionar información en tiempo real sobre objetos, lugares y
            texto a través de la realidad aumentada.</td
          >
          <td>2017</td>
        </tr>
        <tr>
          <td><a href="https://www.oculus.com/rift-s/">Oculus Rift</a></td>
          <td
            >Desarrollado por Oculus, adquirido por Facebook (ahora Meta),
            Oculus Rift ofrece experiencias de realidad virtual inmersivas para
            juegos y aplicaciones interactivas.</td
          >
          <td>2016</td>
        </tr>
      </tbody>
    </table>
  </main>
</Layout>

<style>
  #enfoque {
    padding: 0 3.5vh;
  }
  #destacado {
    padding: 0 3.5vh;
  }

  table {
    border-collapse: collapse;
    width: auto;
    padding: 0 3.5vh;
    background: #f5f5f5;
  }
  th {
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 2vh;
  }
  td {
    padding: 10px;
    text-align: justify;
    font-size: 2vh;
  }
</style>
