---

---

<footer
  class="d-flex justify-content-center align-items-center p-5"
>
  <div>
    <span>© 2023 Kevin Lázaro Cernas - 5°H</span>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    background-color: #dfd7bf;
  }
  span {
    font-size: 2vh;
  }
</style>
